*.py[cod]
/.env
/reports
/*.egg-info/
/*.egg
.eggs/
eggs/
/.tox
/.coverage
/MANIFEST
/dist/
/build/
.cache/
.python-version
.idea
.git
.coverage
.coverage.*
.tox/
*.sw[po]
*.so
pip-wheel-metadata
__pycache__
node_modules/